<div class="sg-toolbar">
    <form id="sg-jump-nav" action="" method="get" class="sg-jump-nav">
        <label for="sg-section-switcher" class="sg-visuallyhidden">Jump to section:</label>
        <select id="sg-section-switcher" class="sg-jump-nav__select" name="sg-section-switcher">
            <option value="" selected>Jump to&hellip;</option>
            {{#each patternGroups as |patterns|}}
                <optgroup label="{{capitalize @key}}">
                    {{#each patterns}}
                        <option value="#pattern-{{group}}-{{id}}">{{label}}</option>
                    {{/each}}
                </optgroup>
            {{/each}}
        </select>
        <button type="submit" class="sg-visuallyhidden sg-submit-btn">Go</button>
    </form>
</div>
