/* ==========================================================================
   Baseplate
   ========================================================================== */

body {
    margin: 0;
}

/* ==========================================================================
   Helpers
   ========================================================================== */

.sg-visuallyhidden {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}
.sg-container {
    margin: 1em auto;
    width: 98%;
    max-width: 1140px;
}
.sg-heading {
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 10px !important;
    margin-top: 0;
}
.sg-anchor {
    color: inherit;
    text-decoration: none;
}

/* ==========================================================================
   Header
   ========================================================================== */

.sg-header {
    overflow: auto;
    color: white;
    background-color: #336;
    border-bottom: 1px solid black;
    padding: 0;
}
.sg-header__list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sg-header__item {
    float: left;
    display: block;
    list-style: none;
    margin: 0; padding: 0;
}
.sg-header__link,
.sg-header__link:visited {
    color: rgba(255,255,255,0.8);
    font-size: 11px;
    line-height: 1;
    padding: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.sg-header__link:hover,
.sg-header__link:active {
    color: white;
    background-color: #555;
}

/* ==========================================================================
   Toolbar
   ========================================================================== */

.sg-toolbar {
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    padding: 10px;

    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    left: 0;
    text-align: right;
}

/* ==========================================================================
   Sections
   ========================================================================== */

.sg-section {
    margin-bottom: 30px;
}
.sg-section__title {
    font-size: 1.75em !important;
    text-transform: capitalize !important;
    border-bottom: 2px solid;
    font-weight: bold;
    padding-bottom: .2em;
}

/* ==========================================================================
   Listings
   ========================================================================== */

.sg-list {
    list-style: none;
    padding-left: 0;
    font-family: sans-serif !important;
}

/* ==========================================================================
   Patterns
   ========================================================================== */

.sg-patterns {
    margin-bottom: 100px;
}
.sg-pattern {
    margin: 20px 0;
}
.sg-pattern__title {
    font-size: 1.4em !important;
    font-weight: bold;
    border-bottom-width: 2px;
    margin-bottom: .5em;
    text-transform: capitalize;
}
.sg-pattern__content {
    margin-bottom: 10px;
}
.sg-pattern__anchor {
    font-weight: normal;
    font-size: 14px;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

/* ==========================================================================
   Usage Notes
   ========================================================================== */

.sg-usage {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-style: normal;
    border: 1px solid #ddd;
}
.sg-usage__title,
.sg-usage__content {
    padding: 10px;
}
.sg-usage__title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    background-color: #eee;
}
.sg-usage__content {
    font-size: 14px;
}


/* ==========================================================================
   Swatches
   ========================================================================== */

.sg-swatch {
    box-sizing: border-box;
    position: relative;
    color: #444;
    background: #eee;
}
.sg-swatch__color {
    display: block;
    height: 100px;
}
.sg-swatch__details {
    list-style: none;
    padding: 10px;
    margin: 0;
}
.sg-swatch__details li {
    list-style: none;
    padding: 0; margin: 0;
}
.sg-swatch__title,
.sg-swatch__prop {
    font-family: sans-serif;
    margin-bottom: 2px;
}
.sg-swatch__prop {
    font-size: 90%;
}

.sg-swatches,
.sg-swatches__item  {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sg-swatches__item {
    margin-bottom: 10px;
}
@media only screen and ( min-width: 45em ) {
    .sg-swatches {
        overflow: auto;
        list-style: none;
        margin: 0;
        width: 101%;
        margin-left: -1%;
    }
    .sg-swatches__item {
        float: left;
        margin-left: 0.5%;
        padding-left: 0.5%;
        width: 32.3333%;
    }
    .sg-swatches__item:nth-of-type(3n+1) { clear: left; }
}

/* ==========================================================================
   Font-stacks
   ========================================================================== */

.sg-font-stack {
    margin-bottom: 20px;
}
.sg-font-stack__caption {
    font-size: 13px;
    font-family: sans-serif;
    clear: both;
    display: block;
    overflow: auto;
    margin: 10px 0;
}
.sg-font-stack__caption__label {
    float: left;
}
.sg-font-stack__caption__meta {
    float: right;
}
